.map-container {
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
}

    #map {
        width: 100em;
        height: 50em;
    }

    .cities-container {
        border: 2px solid gold;
        display: flex;
        flex-direction: column;
    }

  