.parent {
    border: 2px solid salmon;
    display: flex;
    justify-content: center;

}

    .image-container {
        border: 2px solid firebrick;
        width: 1000px;
    }

        img {
            max-width: 49%;
        }

