.parent {
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .image-container {
        border: 2px solid firebrick;
        width: 1000px;
    }

        img {
            max-width: 42%;
        }

