body {
    background: url(paul-volkmer-fX-qWsXl5x8-unsplash.jpg);
    /* backdrop-filter: blur(1px); */
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    /* font-weight: bold; */
}

.parent {
    margin: 1em 0;
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(annie-spratt-6a3nqQ1YwBw-unsplash.jpg); */
    justify-content: flex-start;
}

    .search-image-container {
        margin: 2em 0 2em;
        /* border: 2px solid salmon; */
        display: flex;
        justify-content: flex-start;
        /* gap: 4em; */
        width: 60em;
        height: 24em;
    }

        .search-container {
            margin-left: 3em;
            /* border: 2px solid gold; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            width: 30em;
            /* height: 20em; */
        }

            #movie-search-input {
                margin: 0;
                border: 1px solid gray;
                padding: 0.8em;
                font-size: 1.1em;
                font-weight: bold;
                width: 17em;
                text-align: center;
                color: white;
            }

            #movie-search-input::before #movie-poster {
                opacity: 0;
            }

            #fetch-button:hover {
                cursor: pointer;
            }

            #fetch-button {
                padding: 0.5em 1em;
                background-color: #f3ce13;
                /* height: 2em; */
                /* width: 8em; */
                font-size: 1.2em;
                font-weight: bold;
            }

        #movie-poster {
            margin-left: 5em;
            /* margin: 0 0 0 3em; */
            /* border-radius: 2px; */
            /* border: 2px solid gold; */
            /* width: 10em; */
            height: 23em;
            /* width: 20em; */
        }

    .movie-details-container {
        /* margin: 5em 0 0; */
        /* border: 2px solid salmon; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        /* justify-content: space-between; */
        width: 75em;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

        .child-container {
            /* border: 2px solid greenyellow; */
            display: flex;
            /* flex-wrap: wrap; */
            /* gap: 1em; */
            /* flex-direction: column; */
            /* justify-content: center; */
            align-items: flex-start;
            /* background-color: gray; */
        }

            .label, .detail-area {
                /* border: 1px solid gray; */
                font-size: 1.1em;
            }

            .label {
                margin: 2em 0 0 5.5em;
                /* margin: 0 30px; */
                color: white;
                width: 4.5em;
            }

            .detail-area {
                margin: 2em 0 0 2em;
                /* background-color: gold; */
                color: #5799ef;
                width: 20em;
            }
