body {
    margin: 0;
    padding: 0 1em;
    font-family: "Lato", sans-serif;
    /* background-image: url(pexels-pixabay-531844.jpg); */
    /* background-image: linear-gradient(to bottom right, #003e78, #dddd4b); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    /* backdrop-filter: blur(5px); */
}

    #navbar {
        margin: 2em 0 0;
        /* border: 1px solid #567daa; */
        border: 2px solid greenyellow;
        /* padding: 10em 2em 0 6em; */
        background-color: rgb(0, 62, 120, 80%);
        display: flex;
        /* gap: 0.1em; */
        justify-content: center;
        /* align-items: center; */
    }

        .navbar-item:hover {
            border-top: 2px solid #ffcb0b;
            background-color: #003e78;
            color: #ffcb0b;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }

        .navbar-item {
            /* border-left: 1.5px solid #567daa; */
            border-radius: 0.3em;
            padding: 0.8em 1.3em;
            color: white;
            font-size: 1rem;
            /* max-width: 8em; */
        }

    .content-container {
        border: 2px solid greenyellow;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 2em;
        width: 50vw;
    }

        .text-container {
            border: 2px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 23vw;
        }

            .text-header {
                margin: 0;
                border: 2px solid yellow;
                /* padding: 2em; */
                font-size: 2rem;
            }

            .text-body {
                /* margin: 3em; */
                border: 2px solid salmon;
                border-radius: 0.4em;
                /* padding: 1em 2em; */
                /* max-width: 33vw; */
                text-align: center;
                font-size: 1rem;
                /* background-color: rgba(51, 51, 51, 0.75); */
                /* color: rgb(54, 43, 43); */
                /* color: white; */
            }

        .image-container {
            border: 2px solid red;
            max-width: 23vw;
        }

        img {
            height: 50vh;
            border-radius: 10px;
        }

        .list-point-parent {
            font-size: 2rem;
        }


    a:link, a:visited {
        /* color: black; */
        text-decoration: none;
    }
    


    /* all 0.2s ease-in-out */
