body {
    background-color: black;
    color: white;
}

    .top-bar {
        border: 2px solid greenyellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .search-container {
            border: 1px solid gray;
            display: flex;
        }

            #search-box {
                border: 2px solid salmon;
                min-width: 20em;
            }

            .search-button-container {
                border: 2px solid salmon;
                min-width: 5em;
            }

                #search-button {
                }
