body {
    background-color: black;
    color: white;
}

    .top-bar {
        border: 2px solid greenyellow;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .search-container {
            /* border: 2px solid salmon; */
            display: flex;
            font-family: 'Roboto', sans-serif;
            /* gap: 1em; */
            /* opacity: 8%; */
        }

            #search-box, #results-count {
                border: 1px solid rgba(128, 128, 128, 0.336);
                display: flex;
                align-items: center;
                background-color: #121212;
                color: gray;
            }
        
            #search-box {
                /* border: 2px solid salmon; */
                border-radius: 4em 0 0 4em;
                padding: 0.59em 1.2em;
                min-width: 23em;
                /* background-color: black; */
                /* text-align: start; */
            }

            #results-count {
                /* padding: 0.59em 1em; */
                justify-content: center;
                width: 7.9em;
            }

            .search-button-container {
                /* border: 1px solid rgba(128, 128, 128, 0.336); */
                /* border: 2px solid salmon; */
                border-radius: 0 4em 4em 0;
                padding: 0.5em 1.2em 0.5em 0.9em;
                width: 1.7em;
                display: flex;
                justify-content: center;
                background-color: rgba(128, 128, 128, 0.336);
                /* opacity: 80%; */
            }

            .search-button-container:hover {
                cursor: pointer;
            }

            .search-button-container:hover #search-button-image {
                transform: scale(1.13);
                transition: 0.3s;
            }


    .videos-videostable-container {
        border: 2px solid salmon;
        display: flex;
    }

        #video-tracking-table {
            border: 2px solid white;
            padding: 1em;
            min-width: 18em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
        }

            th {
                padding: 0.5em;
            }

            tbody {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }

            .table-row {
                border: 2px solid salmon;
                min-width: 17em;
                display: flex;
                /* gap: 4em; */
                justify-content:space-around;
                /* align-items: center; */
            }

        .videos-container {
            border: 2px solid white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2em;
            gap: 2em;
        }
